.weaverz-ai-sec1 {
    color:black;
    

}
.weaverz-ai-imgSec {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
 
 }
 .weaverz-ai-conSec{
     top: 50%;
 
 }
