/*Approach one*/
.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--1 .gallery__img {
  clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
}

.gallery__item--2 .gallery__img {
  clip-path: polygon(21% 0, 100% 0, 76% 100%, 0% 100%);

}

.gallery__item--3 .gallery__img {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);

}

.gallery__item--4 .gallery__img {
  clip-path: polygon(1% 0, 85% 0, 64% 100%, 0 100%);

}

.gallery__item--5 .gallery__img {
  margin-left: -151px;
  clip-path: polygon(21% 0, 100% 0, 76% 100%, 0% 100%);
}

.gallery__item--6 .gallery__img {
  margin-left: -151px;
  clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);

}


/* .img_1 {
  position: relative;
  height: 300px;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
} */


/*Approach Two*/
 /* .diagonalHover {
  position: absolute;
  width: 50%;
  height: 400px;
  transition: all 0.3s ease-out;
}
.diagonalHover.first,
.diagonalHover.second {
 background-image: url(https://cdn.pixabay.com/photo/2016/07/20/22/33/vajdahunyadvar-1531470_960_720.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}
.diagonalHover.second {
  background-image: url(https://cdn.pixabay.com/photo/2020/02/05/22/17/vendetta-4822543__340.jpg);
}
.diagonalHover.first:hover {
  width: 75%;
  z-index: 1;
}
.diagonalHover.second:hover {
  width: 75%;
  z-index: 1;
}
.diagonalHover.first {
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
}

.diagonalHover.second {
  right: 0;
  top: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
}  */