
.weaverz-ai-imgSec {
 margin:auto !important;
 /* border: 1px solid grey; */
}

.weaverz-ai-cus-btn {
    background-color: aqua !important;
}

#weaverz-ai-button {
    text-align: center;
    padding-top: 5%;
}